<div class="container">
  <div class="top-drug-title">
    <h1>Mon alternative à la <%= @search_drug.name %></h1>
    <p>
      Rupt’Care vous propose la meilleur correspondance avec le médicament recherché
     </p>
  </div>
  <% if @main_drug.present? %>
  <div class="card-main-drug">


    <img src="https://images.unsplash.com/photo-1581159186721-b68b78da4ec9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
    <div class="card-drug-infos">
      <h2><%= @main_drug.name %></h2>
      <p class="drug-class">
        <%= @main_drug.drugs_class %>
      </p>
      <p class="drug-family">
        <%= @main_drug.family %>
      </p>
      <h2 class="drug-info"> Mécanisme d'action:</h2>
      <p id="aprec"><%= @main_drug.action %></p>
      <h2 class="drug-info"> Schéma posologique:</h2>
      <p id="aprec"><%= @main_drug.posology%></p>
      <h2 class="drug-info">Recommandations thérapeutiques:</h2>
      <p id="aprec"><%= @main_drug.recommandations%></p>
      <% if @main_drug.stocks.where(pharma: current_user.pharma).first && @main_drug.stocks.where(pharma: current_user.pharma).first.quantity == 0 %>

      <h1>
        <i class="fas fa-layer-group" id="stock-check"><span class="next-icon"> Stock: Vérifiez chez un autre pharmacien.</span> </i>

        <h2><i class="fas fa-history" id="stock-dispo"><span class="next-icon1"> Disponible dans: <%= pluralize(@main_drug.availability, "jours") %></span></i></h2>
         <%= link_to "Regarder réseau Rupt'care" , pharmas_path(drug_id: @main_drug.id, name: params[:name]), class: "btn btn-primary"%>
      </h1>
      <h1>
        <% elsif @main_drug.stocks.where(pharma: current_user.pharma).first %>
        <i class="fas fa-layer-group">
          Stock: <%= @main_drug.stocks.where(pharma: current_user.pharma).first.quantity %>
          <button type="button" class="btn btn-primary" id="call-doctor"><i class="fas fa-comment-medical"> Chat doctor</i></button>
        </i>

      </h1>
      <% end %>
    </div>
  </div>
  <% end %>
  <p class="alternatives-following">
    <strong class="alternatives">
      <%= @drugs.count-1 %>
       autres alternatives thérapeutiques
    </strong>
     pouvant être recommandées au prescripteur:
  </p>
  <div class="cards-drugs-grid"  >
    <% @drugs.each do |drug| %>


    <% unless drug == @main_drug %>
    <div class="card-other-drug <%= "card-disable" if drug.stocks.where(pharma: current_user.pharma).first&.quantity == 0  %>"  data-toggle="modal" data-target="#modal-drug-<%= drug.id %>" >
      <% if drug.photo.attached? %>
      <%=  cl_image_tag drug.photo.key  ,crop: :fill %>
      <% else %>
       <img src="https://images.unsplash.com/photo-1558956397-7f6aea7aaab4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=50" />
       <% end %>
      <h2><%= drug.name %></h2>
      <p id="d-class">
        <%= drug.drugs_class %>
      </p>
      <p id="d-family">
        <%= drug.family %>
      </p>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal-drug-<%= drug.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog"></div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" id="close">&times;</span></button>
      <div class="card-drug">
        <div class="card-drug-left">
          <%=  cl_image_tag drug.photo.key  ,crop: :fill, id: 'image-in-modal' %>
        </div>
        <div class="card-drug-infos-modal">
          <h1 class="drug-name"><%= drug.name %></h1>
          <p class="drug-class" id="modal-class">
            <%= drug.drugs_class %>
          </p>
          <p class="drug-family" id="modal-fam">
            <%= drug.family %>
          </p>
          <h2 class="drug-info"> Mécanisme d'action:</h2>
            <p id="modal-aprec"><%=  drug.action %></p>
          <h2 class="drug-info"> Schéma posologique:</h2>
            <p id="modal-aprec"><%=  drug.posology%></p>
          <h2 class="drug-info">Recommandations thérapeutiques:</h2>
            <p id="modal-aprec"><%=  drug.recommandations%></p>
          <div class="card-drug-stock">
            <% if drug.stocks.where(pharma: current_user.pharma).first&.quantity.to_i > 0  %>
              <h1><i class="fas fa-layer-group"></i> Stock: <%= drug.stocks.where(pharma: current_user.pharma).first.quantity %></h1><%= link_to "Contacter un médecin" , chatroom_path(Chatroom.first),  class: "btn btn-primary btn-medecin"%>
            <% else %>
              <div class="d-flex align-items-center">
                <i class="fas fa-layer-group" id="stock-modal"></i>
                <div class="stock-modal"> Stock: Vérifiez chez un autre pharmacien.</div>
              </div>
              <div class="d-flex align-items-center">
                <i class="fas fa-history" id="dispo"></i>
                <div class="stock-modal" id="dispo-modal">Disponible dans: </div>
              </div>
              <%= link_to "Regarder réseau Rupt'care" , pharmas_path(drug_id: drug.id, name: params[:name]), class: "btn btn-primary btn-pharmacy"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>



