<div class="container">
  <div class="top-drug-title">
    <h1> Résultats proposés par Rupt'Care</h1>
    <p>L'alternative proposée par <strong id="rupt">Rupt'</strong>Care</p>
  </div>

<% if @drug.present? %>
  <div class="card-drug">
    <img src="https://images.unsplash.com/photo-1558956397-d89fe6bb84e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=50" />
    <div class="card-drug-infos">
      <h2><%= link_to @main_drug.name, drug_path(@main_drug) %></h2>
      <p><%= @main_drug.drugs_class %></p>
      <p><%= @main_drug.family %></p>
    </div>
  </div>
<% end  %>

  <p><strong id="alternatives">Les autres alternatives thérapeutiques</strong> pouvant être recommandées au prescripteur:</p>

  <div class="cards-drugs-grid"  >
    <% @drugs.first(10).each do |drug| %>
      <% unless drug == @main_drug %>
        <div class="card-other-drug" data-toggle="modal" data-target="#modal-drug-<%= drug.id %>" >
          <img src="https://images.unsplash.com/photo-1558956397-7f6aea7aaab4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=50" />
          <% if drug.availability.to_i < 5 %>
            <i class="fas fa-circle" id="availability-success"></i>
          <% else %>
            <i class="fas fa-circle" id="availability-faillure"></i>
          <% end %>
          <h2><%= link_to drug.name, drug_path(drug) %></h2>
          <p><%= drug.drugs_class %></p>
          <p><%= drug.family %></p>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-drug-<%= drug.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog"></div>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" id="close">&times;</span>
          </button>
          <div class="card-drug">
            <div class="card-drug-left">
              <img src="https://pinepharmacyug.com/wp-content/uploads/2019/09/Mirtazapine-15mg-Tablets-28.jpg">
              <div class="card-drug-stock">
                <h1><i class="fas fa-layer-group"> Stock:</i></h1>
                <h2><i class="fas fa-history"> Disponible dans:</i></h2>
              </div>
            </div>
            <div class="card-drug-infos">
              <div class="drug-name"><%= drug.name  %></div>
              <h1><i class="fas fa-pills" id="action"></i> Mécanisme d'action:</h1>
                <%= drug.action %>
              <h1><i class="fas fa-pills" id="posology"></i> Schéma posologique:</h1>
                <%= drug.posology%>
              <h1><i class="fas fa-pills" id="thera"></i> Recommandations thérapeutiques:</h1>
                <%= drug.recommandations%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



