<% if message.user == current_user %>
  <div class="message-container" id="message-<%= message.id %>">
    <i class="author">
      <span><%= message.user.full_name %></span>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </i>
    <p><%= message.content %></p>
  </div>
<% else %>
<div class="message-container message-right" id="message-<%= message.id %>">
  <i class="author">
    <span><%= message.user.full_name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>
<% end %>
