<div class="message-container <%= user_is_author ? 'message-left' : 'message-right' %> " id="message-<%= message.id %>" data-user="<%= message.user.id %>">

  <i class="author">
    <span><%= message.user.full_name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>

