<div id="title-pharma" class="container">
  <h1 >Réseau Rupt'Care</h1>
  <h2>Au <%= Date.today %> à <%= Time.now.to_s(:time) %>, les pharmacies suivantes du réseau disposent de la <strong><%= @drug.name %></strong> en stock :</h2>
  <%= link_to "Retourner sur la liste de recherche", drugs_path(drug_id: @drug.id, name: params[:name]) %>
</div>


<div id="map-pharma">
  <div id="pharmas" >
    <% @pharmas.each do|pharma| %>
    <div id="pharma-display" class="container">
      <% if pharma.present? %>
      <h2><%= pharma.name %></h2>
      <p><%= pharma.address %></p>
      <p><%= pharma.city %> </p>
      <% else %>
      <h2>test</h2>
      <% end %>
   </div>
    <% end %>
  </div>

  <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


</div>
