<html class="html-show-chatroom">
  <body class="body-show">
    <div class="title-chatroom"><h1 class="title-chatroom__h1">#<%= @chatroom.name %> <p>Ici vous pouvez retrouver tous les messages que vous avez échanger avec d’autres pharmaciens ou en écrire un nouveau.</p></h1></div>
    <main class="main-chatroom-app">


    	<div class="section-chat">
    		<div class="section-chat__header">
    			<div><label aria-label="Rechercher une conversation"></label>
    		      <input type='text' placeholder='Search' class='bar-search-chatrooms'>
          </div>
            <ul>
              <li class="sidebar-chatroom__nav__li"><img class='c-openchat__box__pp' src='https://res.cloudinary.com/de254wisw/image/upload/v1598617720/Capture_d_%C3%A9cran_2020-08-28_%C3%A0_14.18.52_ynx97b.png' alt=''>Dr. Tairi </li>
            	<li class="sidebar-chatroom__nav__li"><img class='c-openchat__box__pp' src='https://res.cloudinary.com/de254wisw/image/upload/v1598617720/Capture_d_%C3%A9cran_2020-08-28_%C3%A0_14.18.52_ynx97b.png' alt=''>Dr. Maboul (2) </li>
            	<li class="sidebar-chatroom__nav__li"><img class='c-openchat__box__pp' src='https://res.cloudinary.com/de254wisw/image/upload/v1598617720/Capture_d_%C3%A9cran_2020-08-28_%C3%A0_14.18.52_ynx97b.png' alt=''>Dr. Djamel </li>
            </ul>
            <button type="button" class="btn btn-primary" id="btn-new-message">Nouveau message</button>
        </div>
    	</div>

    	  <section class='c-openchat'>
    <!--     <div class='c-openchat__header'>
          <ul>
      		 <li class='c-openchat__li'><%= current_user.full_name %></li>
            <li class='c-openchat__li'><img src='https://res.cloudinary.com/de254wisw/image/upload/v1598617720/Capture_d_%C3%A9cran_2020-08-28_%C3%A0_14.18.52_ynx97b.png' alt=''></li>
          </ul>
        </div> -->

    	 <div class='c-openchat__box'>
          <div class='c-openchat__box__header'>
            <img class='c-openchat__box__pp' src='https://res.cloudinary.com/de254wisw/image/upload/v1598617720/Capture_d_%C3%A9cran_2020-08-28_%C3%A0_14.18.52_ynx97b.png' alt=''>
            <p class='c-openchat__box__name'>Dr Walid Tairi</p>
            <span class='c-openchat__box__status'></span>
          </div>
          <div class='c-openchat__box__info'></div>
        </div>

        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <% @chatroom.messages.each do |message| %>
            <%= render 'messages/message', message: message, user_is_author: message.sender == current_user %>
          <% end %>
        </div>
        <div class="flex-send-message">
              <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Ecrivez un message", class: "bar-envoi" %>
          <%= f.button :submit, value: "Envoyer", class: "button-send-message" %>

        <% end %>
      </div>
    
     </section>
  
    </main>
  </body>
</html>
