

<html class="html-show-chatroom">
  <body class="body-show">
    <div class="title-chatroom"><h1 class="title-chatroom__h1"><%= @chatroom.name %> </h1></div>
    <main class="main-chatroom-app">



      <div class="section-chat__header">
          <p class="state-demand"> DETAILS DE LA DEMANDE  </p>
      <!--   <ul class='grey-area-chatroom'> -->
          <li class="detail-demande">Demande pour : <br><p><b>Mme Véronique DUBOIS </b></p>
          <li class="detail-demande"> Médicament remplacé : <br><p><b> Mianserine 10mg </b></p>
          <li class="detail-demande">Alternative acceptée : <br><p><b>Escitalopram 10mg</b></p>
        <div class="valid-refus-drug">
          <li class='sidebar-chatroom__nav__li'><a class='c-sidepanel__nav__link c-sidepanel__nav__link--success' id='success-btn'  href='' title='' data-toggle="modal" data-target="#exampleModal"><i class="fas fa-check"></i>Acceptée</a></li>
          <li class='sidebar-chatroom__nav__li'><a class='c-sidepanel__nav__link c-sidepanel__nav__link--warning' id='reject-btn' href='' title=''><i class="far fa-times-circle"></i></i>Refusée</a></li>
        </div>
     <!--      <li class='sidebar-chatroom__nav__li'><a class='c-sidepanel__nav__link c-sidepanel__nav__link--pending' id='pending-btn' href='' title='' ><i class="far fa-clock"></i>En attente</a></li>
          <li class='sidebar-chatroom__nav__li'><a class='c-sidepanel__nav__link c-sidepanel__nav__link--warning' id='reject-btn' href='' title=''><i class="far fa-times-circle"></i></i>Refusé</a></li> -->
        <!-- </ul> -->
    	</div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-check"></i>Demande validée</h5>
          <!--   <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!--   <span aria-hidden="true">&times;</span>
            </button>
     -->  </div>

          <div class="modal-body">
            <!-- <form class="needs-validation" novalidate> -->
              <div class="form-group">
                <label for="exampleInputEmail1">L'alternative médicamenteuse a été validée par le médecin</label>

                <small id="emailHelp" class="form-text text-muted">Vous pouvez désormais générer un PDF récapitulant la demande : </small>
              </div>


             <!--  <button type="submit" class="btn btn-primary" id="btn-submit-pdf" -->

              <%= link_to chatroom_path(@chatroom, format: :pdf), target: '_blank', class: 'btn btn-primary' do %>
                  <i class="fas fa-file-pdf"></i>Générer un PDF
                <% end %>
              <!-- Générer un PDF --><!-- </button> -->
          <!--   </form> -->
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div> -->
        </div>
      </div>
    </div>


  <section class='c-openchat'>
    <!--     <div class='c-openchat__header'>
          <ul>
      		 <li class='c-openchat__li'><%= current_user.full_name %></li>
            <li class='c-openchat__li'><img src='https://res.cloudinary.com/de254wisw/image/upload/v1598617720/Capture_d_%C3%A9cran_2020-08-28_%C3%A0_14.18.52_ynx97b.png' alt=''></li>
          </ul>
        </div> -->

    	 <div class='c-openchat__box'>
          <div class='c-openchat__box__header'>
            <img class='c-openchat__box__pp' src='https://res.cloudinary.com/de254wisw/image/upload/v1599038915/Walid_Tairi_1_p5yc2o.jpg' alt=''>
            <p class='c-openchat__box__name'>Dr Walid Tairi</p>
            <span class='c-openchat__box__status'></span>
             <form class="form-inline form-inline-patient d-flex md-form form-md mt-0" style='flex-grow: 1; justify-content: flex-end;'>
              <input class="form-control form-control-sm ml-3 w-75" id="search-bar-chatroom" type="text" placeholder="Rechercher un message"
               aria-label="Search"></form>
          </div>
          <div class='c-openchat__box__info'></div>
      </div>

        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <% @chatroom.messages.each do |message| %>
            <%= render 'messages/message', message: message, user_is_author: message.sender == current_user %>
          <% end %>
        </div>
     <!--    <div class="flex-send-message"> -->
              <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
              <%= f.input :content, label: false, placeholder: "Ecrivez un message", class: "bar-envoi" %>
              <%= f.button :submit, value: "Envoyer", class: "button-send-message" %>

        <% end %>
     </section>
    </main>
  </body>
</html>
