
<div class="grid-container">

	<div class="sidenav">
	  <ul class="sidenav__list">
	  	<li class="sidenav__list-item">Mon profil</li>
	    <li class="sidenav__list-item">Gérer mes patients</li>
	    <li class="sidenav__list-item">Historique de mes recherches</li>
	    <li class="sidenav__list-item">Mes conversations médicales</li>
	  </ul>
	</div>
  
  <div class="main">
  	<div class="welcome-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "the-road-815297__340_ghyxvy", height: 700, width: 1000, crop: :fill %>')">>
  	<div class="main-header"   >
	  <div class="user-dashboard-welcome">Bonjour Farouk</div>
	  <div class="user-dashboard-message">Vous n'avez pas de nouveaux messages aujourd'hui</div>
	  </div>
  </div>
  <div class="header">
  	  <div class="header__search"><p><span id="datetime"></span></p>
			<script>var dt = new Date();
			document.getElementById("datetime").innerHTML = dt.toLocaleString();</script>
	  </div>
	  <div class="header__avatar">
		  <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
					  <i class="fas fa-search" aria-hidden="true"></i>
					  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search a patient"
					    aria-label="Search"></form>
  	   </div>
  </div>

   <h2 class="my-patients-title"> Mes patients ( <%= @patients.count %> )</h2>
   <div class="main-overview">
   		<% @patients.each do |patient| %>	

	  <div class="overviewcard">
	    <div class="overviewcard__icon"><%= patient.first_name %>  <%= patient.last_name %></div>
	    <div class="overviewcard__info"> <%= patient.age %> ans</div>
	    <div class="overviewcard__info"> <%= patient.address %></div>
	    <%= link_to "", patient_path(patient), class: "absolute-link" %>
  	  </div>
 		 <% end %>
   </div>


<!-- <div class="main-cards">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "rfephsgwmw59lminnvhj", height: 700, width: 1000, crop: :fill %>')"><h3 class="research-drugs-dashboard">Faire une recherche de médicaments</h3> </div>
</div> -->











<!-- <div class="container">
	<h1 class="title-lvl"> Tableau de bord </h1>
	  <div class="dashboard-header">
	  	<h2 class="user-presentation">
	    	<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
	    	Hello Dr. Farouk Rahmani</h2>
			
			<ul class="dashboard-profil-modif">
				<li class="list-dashboard"> → Afficher mes patients </li>
				<li class="list-dashboard"> → Historique de mes recherches </li>
			</ul>
	    </div>

	    <div class="dashboard-corps">
		<div class="row clearfix">
	    	<div class="span4">
	    		<div class="main-column clearfix">
	    			<div class="main-column-block">
	    			</div>
	    			<div class="main-column-block">
	    			</div>
	    			<div class="main-column-block">
	    			</div>
	    		</div>
	    	</div>

	    	<div class="dashboard-box-patients-display">
			<div class="search-dashboard-patients">
			<form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
			  <i class="fas fa-search" aria-hidden="true"></i>
			  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
			    aria-label="Search">
			</form>
			</div>
			  <h2 class="my-patients-title"> Mes patients ( <%= @patients.count %> )</h2>
					<% @patients.each do |patient| %>	
				<div class="card-product">	
					  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" height=50 width=50 >
					    <div class="card-product-infos">
						    <h2> <%= link_to patient.first_name, patient_path(patient)  %></h2>
				  </div>
				</div>
				<% end %>

		</div>




	

 -->