
<div class="grid-container">
  <header class="header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "cock_w8rbdy", height: 300, width: 1000, crop: :fill %>')">;
  	  <div class="header__search">DATE</div>
  <div class="header__avatar">
  <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
			  <i class="fas fa-search" aria-hidden="true"></i>
			  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search a patient"
			    aria-label="Search">
			</form>
			</div>
</header>
  </header>
<aside class="sidenav">
  <ul class="sidenav__list">
  	<li class="sidenav__list-item">Mon profil</li>
    <li class="sidenav__list-item">Afficher mes patients</li>
    <li class="sidenav__list-item">Historique de mes recherches</li>

  </ul>
</aside>
  <main class="main">
  	<div class="main-header">
  <div class="main-header__heading">Bonjour Farouk</div>
  <div class="main-header__updates">Vous n'avez pas de nouveaux messages aujourd'hui</div>
</div>
 	<h2 class="my-patients-title"> Mes patients ( <%= @patients.count %> )</h2>
   <div class="main-overview">
   
   		<% @patients.each do |patient| %>	
  <div class="overviewcard">
    <div class="overviewcard__icon"><%= link_to patient.first_name, patient_path(patient)%></div>
    <div class="overviewcard__info"> <%= patient.age %> ans</div>
       <div class="overviewcard__info"> <%= patient.address %></div>
  </div>
  <% end %>
</div>
<div class="main-cards">
  <div class="card">Card</div>
  <div class="card">Card</div>
  <div class="card">Card</div>
</div>

  </main>

</div>











<!-- <div class="container">
	<h1 class="title-lvl"> Tableau de bord </h1>
	  <div class="dashboard-header">
	  	<h2 class="user-presentation">
	    	<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
	    	Hello Dr. Farouk Rahmani</h2>
			
			<ul class="dashboard-profil-modif">
				<li class="list-dashboard"> → Afficher mes patients </li>
				<li class="list-dashboard"> → Historique de mes recherches </li>
			</ul>
	    </div>

	    <div class="dashboard-corps">
		<div class="row clearfix">
	    	<div class="span4">
	    		<div class="main-column clearfix">
	    			<div class="main-column-block">
	    			</div>
	    			<div class="main-column-block">
	    			</div>
	    			<div class="main-column-block">
	    			</div>
	    		</div>
	    	</div>

	    	<div class="dashboard-box-patients-display">
			<div class="search-dashboard-patients">
			<form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
			  <i class="fas fa-search" aria-hidden="true"></i>
			  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
			    aria-label="Search">
			</form>
			</div>
			  <h2 class="my-patients-title"> Mes patients ( <%= @patients.count %> )</h2>
					<% @patients.each do |patient| %>	
				<div class="card-product">	
					  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" height=50 width=50 >
					    <div class="card-product-infos">
						    <h2> <%= link_to patient.first_name, patient_path(patient)  %></h2>
				  </div>
				</div>
				<% end %>

		</div>




	

 -->