<div class="container">
	<div class="row">
      <div class="col-sm">
		  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" height=250 width=200 >
      </div>
      <div class="col-sm">
		<h6> Informations détaillées sur le patient </h6>
		  <ul class="list-info-patient">
		  	<li><%= @patient.first_name %></li>
			<li><%= @patient.address %></li>
			<li><%= @patient.age %></li>
		  <hr>
		  <li><%= @patient.chronic_disease %></li>
		  <br>
		</ul>
	  </div>
	  <div class="col-sm">
	  	<h6> Autres informations utiles sur le patient </h6>
	  	  <ul>
	  	   <%= @patient.chronic_disease %>
	  	  </ul>

	  </div>
	</div>
    
  <div class="table-users">
   <div class="header-table-patient">Historique délivrance patient</div>
   
   <table cellspacing="0">
      <tr>
         <th>Date</th>
         <th>Délivrance</th>
         <th> Pharmacist </th>
         <th>Pharmacist</th>
         <th width="230">Comments</th>
      </tr>

      <tr>
         <td>29/02/2020</td>
         <td>Temesta</td>
         <td>Le Wagon</td>
         <td> Julien Dupuis </td>
         <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
      </tr>
   </table>
</div>

	 <%= link_to "Retourner sur le tableau de bord", patients_path, class: "btn btn-danger" %>
	</div>


