<div class="container">
	<div class="row">
      <div class="col-sm">
		  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" height=250 width=200 >
      </div>
      <div class="col-sm">
		<h6> Informations détaillées sur le patient </h6>
		  <ul class="list-info-patient">
		  	<li><%= @patient.first_name %></li>
			<li><%= @patient.address %></li>
			<li><%= @patient.age %></li>
		  <hr>
		  <li><%= @patient.chronic_disease %></li>
		  <br>
		</ul>
	  </div>
	  <div class="col-sm">
	  	<h6> Autres informations utiles sur le patient </h6>
	  	  <ul>
	  	   <%= @patient.chronic_disease %>
	  	  </ul>

	  </div>
	</div>
    
    <table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Date</th>
	      <th scope="col">Délivrance</th>
	      <th scope="col">Pharmacie</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td>09/10/2020 18h20</td>
	      <td>Doliprane 500mg</td>
	      <td>Pharmacie le Wagon</td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td>9/10/2020 18h20</td>
	      <td>Temesta 50mg</td>
	      <td>Pharmacie Le Wagon</td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td>9/10/2020 18h20</td>
	      <td>Xanax 50mg</td>
	      <td>Pharmacie Rahmani</td>
	    </tr>
	  </tbody>
	</table>
	 <%= link_to "Retourner sur le tableau de bord", patients_path, class: "btn btn-danger" %>
</div>


